<template>
  <div>
    <h1>Contact</h1>
    <input type="text" placeholder="input your data" >
  </div>
</template>

<script>
export default {
  mounted () {
    console.log('contact mounted')
  }
}
</script>
