<template>
  <div>
    <button v-for="tab in tabs" :key="tab" @click="component = tab">
      {{tab}}
    </button>
    <keep-alive>
      <component :is="component" />
    </keep-alive>
  </div>
</template>

<script>
import Contact from './Contact.vue'
import Profile from './Profile.vue'
export default {
  components: {
    Contact,
    Profile
  },
  data () {
    return {
      tabs: ['Contact', 'Profile'],
      component: 'Contact'
    }
  }
}
</script>
